
/* Header*/
#Header		{
	position: relative;
	top: 1%;
	width: 100%;
	height: 33%;
}
	

h2{
	position: absolute;
	position: middle;
	top: 5%;
	font-size: 20px;
	left: 35%;
}
#Barre{ 	/*barre de recherche*/
	position: relative;	
	bottom:0%;
	margin-left: 35%;
	width: 25%;

}


#bt_recherche
{
position: relative;
top: 5%;
left: 0%;
}

fieldset 		/* Module de connection */
{
	height: 17%;
	position:fixed;
	top:1%;
	right:1%;
	width:23%;
	border: 1px solid green;
	border-radius: 6px;
}


td{			/*Menus*/
	
	position: fixed;
	width: 33%;
	text-align: center;
	font-size: 17px;
    color: #000;
    background: #a5cc52;
    border-radius: 8px;
    border: 0;
    padding: 0;
}


#td1
{
	left: 0%;
	right: 33%;
}


#td2
{
	left: 33%;
	right: 33%
}

#td3
{
	left: 66%;
	right: 0%;
}
#Bouton		{

	display: inline-block;

}
#Identifiant{
	display: inline-block;
	text-align: left;
}

#Recherche	{

	position: absolute;
	left: 35%;
	top: 4%;
	display: inline-block;
	text-align: center;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #698fc9), color-stop(1, #689fca));
	background:-moz-linear-gradient(top, #698fc9 5%, #689fca 100%);
	background:-webkit-linear-gradient(top, #698fc9 5%, #689fca 100%);
	background:-o-linear-gradient(top, #698fc9 5%, #689fca 100%);
	background:-ms-linear-gradient(top, #698fc9 5%, #689fca 100%);
	background:linear-gradient(to bottom, #698fc9 5%, #689fca 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#698fc9', endColorstr='#689fca',GradientType=0);
	background-color:#698fc9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:23px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	margin-left: 20px;

	position: fixed;
	top: 55px;
	right: 20px;

}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #689fca), color-stop(1, #698fc9));
	background:-moz-linear-gradient(top, #689fca 5%, #698fc9 100%);
	background:-webkit-linear-gradient(top, #689fca 5%, #698fc9 100%);
	background:-o-linear-gradient(top, #689fca 5%, #698fc9 100%);
	background:-ms-linear-gradient(top, #689fca 5%, #698fc9 100%);
	background:linear-gradient(to bottom, #689fca 5%, #698fc9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#689fca', endColorstr='#698fc9',GradientType=0);
	background-color:#689fca;
}
.myButton:active {
}


#bt
{
	position: fixed;
	top: 55px;
	right: 20px;
}

}
.complement_connexion2{
	text-align: right;
}
#pseudo,#mdp{
	margin-bottom:-20px; 
}


/*Footer*/

#foot{
	position: relative;
	font-size: 11px;
	width: 100%;
	background-color: #a5cc52;
	display: inline-block;
	position: absolute;
	bottom: 0;
	height: 18%;
	margin-top: 70px;

}
#Association{

	display: inline-block;
	width: 30%;
	text-align: center;
	margin-left: 4%;
	
		}


#APropos	{

	display: inline-block;
	width: 30%;
	text-align: center;
	position: absolute;
	left: 33%;
	right: 30%;
		}


#Aides		{

	display: inline-block;
	width: 30%;
	text-align: center;
	position: absolute;
	right: 4%;

		}





/*Font*/
	body {
background: linear-gradient(to right, #FDFEFD, #a5cc52);

/*body
{
	background: url("../images/images_site/fruits_et_legumes.jpeg") fixed no-repeat center;
	background-size: cover;
*/

	

}

#panier
{
	width: 5%;
	height: 15px;
}
