fieldset
{
	width: 40%;
	display: inline-block;
	margin-top: 25px;
	margin-left: 30%;
    background-color: rgba(223, 232, 226 , 0.8);
	opacity: 0,6;

}
body
{

	background: url("../images/fruits_et_legumes.jpeg") fixed no-repeat center;
	background-size: cover;
}
