/***************************************************propriétés de la police **********************************************/
.page
{
	font-family:Verdana, Arial, serif;
	font-size:0.7em;
	background-color: white;
}
#td1, #td2, #td3, #td4
{
	font-size:1.3em;
}
a
{
	text-decoration: none;
	color:black;
}
.liens_invariants
{
	text-decoration: none;
	color:#035dbd;
	font-weight: bold;
}
.titre_site
{
	font-size:1.6em;
	font-family: cursive;	
}
header
{
	width:1141px;
}	
.my_button, .bouton_reglement
{
	color:#c3ee7f;
	font-weight: bold;
}
.titre_annonce
{
	 font-size: 2em;	
}
h2
{
	font-size:1.2em;
}
.prix, .quantite
{
	font-size: 1.5em;
	color:#035dbd;
	font-weight: bold;
}

/***************************************************propriétés visuels ***************************************************/
.liens_invariants:hover
{
	text-decoration: underline;
}
.page
{
	width:1100px;	
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	float:left;
	margin-right: 1px;
}
.titre_site
{
	display:inline-block;
	margin-left: 6%;
	margin-top: 0%;
	width: 40%;
	margin-bottom: 0%;
}
#pseudo
{
	padding-right: 1%;
	display: block;
}
.my_button, #mdp
{
	padding-right: 1%;
	display: inline-block;
}
.my_button
{
	padding-left: 5px;
	margin-left: 0px;
	margin-top: -22px;
	border-radius: 7px;
	width:36%;
	vertical-align: bottom;
	background-color: #035dbd;
	padding-top: 19px;
	padding-bottom: 19px;
}
.connection
{
	margin-top: -2%;
	display:inline-block;
	margin-left: 54%;
	width: 20%;
	left: 40px;   /**************************** à voir ******************************/
}
.connection_non_connecte
{
	
	width: 30%;
	min-width: 295px;	
}
.connection_connecte
{
	width: 18%;
	min-width: 247px;
	left: 15px; /**************************** à voir *************************************/
}
#recherche
{
	display:inline-block;
	margin-left: 6%;
	margin-top: -1%;
	margin-right: 37%;	
	clear:both;
	position:absolute;
}
#navigation
{
	position: absolute;
	width: 66%;
	margin-bottom: 0%;
	margin-top:-2%;
}
#td1
{
	padding-left: 5%;
	border-right: 1px solid #035dbd;
	
}
#td2
{
	padding-left: 4%;
	border-right:1px solid #035dbd;

}
#td3
{
	padding-left: 7%;
	border-right:1px solid #035dbd;
}
#td4
{
	padding-left: 5%;
}
table
{
	background-color: #c3ee7f;
	border-radius: 7px;
	width:100%;
}
#panier
{
	float:right;
	margin-top:-34px;
	margin-bottom: 5px;
}
.compte
{
	clear:both;
	padding-bottom: 7%;
}
.cadre_connexion
{

	border-left:1px solid #c3ee7f;
	border-bottom: 1px solid #c3ee7f;
	border-top: none;
	border-right:none;
	border-radius: 10px 0px 10px 10px;
	background-color: #c3ee7f;
}
#footer
{
	width:100%;
	min-width: 1000px;
	margin-top: 60px;
}
#foot
{
	position:relative;
	right: -6px;
	bottom: -65px;
	
}
#association, #a_propos, #aides
{
	float: left;
	padding-right: 8%;
	padding-left:8%;
	background-color:#c3ee7f;
	width:14%;
}
#association	
{
	border-radius: 10px 0px 0px 10px;
	width:18%;
}
#aides
{
	border-radius:0px 10px 10px 0px;
}
.nav_compte
{
	display: inline-block;
	vertical-align: top;
	padding-top: 61px;
}
*
{
	position:relative;
}
.complement_connexion
{
	display: inline-block;
}
.complement_connexion + .complement_connexion
{
	margin-left: 18px;
}
.produit_detail
{
	margin-top: 25px;
	background-color: white;
	width: 87%;
	margin-left:3%;
	padding-left: 2%;
	padding-bottom: 2%;
	border:1px solid #b3b3b3;
}
.reglement
{
	display:inline-block;
	position:absolute;
	right:65px;
	bottom:103px;
}
.image_annonce
{
	border:1px solid #b3b3b3;
	width:400px;
}
.image_produit
{
	margin:auto;
	width:50%;
}
.titre_annonce
{
	margin-left: 10px;
}
.info_produit_detail, .image_annonce
{
	display: inline-block;
	vertical-align: top;
}
.administration, .deconnexion
{
	display:inline-block;
}
.administration
{
	margin-left: 45px;
}
.page_admin
{
	display: inline-block;
	position: absolute;
	top:200px;
	left:200px;
}
.categorie
{
	margin-left: 10px;
}
.description_annonce
{
	margin-top: 25px;
	padding-bottom:15px;
	padding-right: 30px;
	padding-left: 10px;
	padding-top:5px;
	width:617px;
	border:1px solid #b3b3b3;
}
.info_produit_detail
{
	padding-left: 25px;
}
.localisation
{
	padding-left: 64px;
}
.vendeur
{
	padding-left: 88px;
}
.prix
{
	padding-left: 115px;
}
.quantite
{
	padding-left: 30px;
}
.date_publication
{
	padding-left: 3px;
}
.info_prod
{
	margin-top: 22px;
}
.bouton_reglement
{
	padding-left: 5px;
	margin-left: 0px;
	margin-top: 38px;
	border-radius: 7px;
	width:113%;
	vertical-align: bottom;
	background-color: #035dbd;
	padding-top: 19px;
	padding-bottom: 19px;
}
#fruits,#legumes
{
	margin-top: 50px;
	width: 512px;
	height: 320px;
}
.page
{
	background-color: white;
}
#soleil19, #lune31
{
	position: absolute;
	top:300px;
	left: -107px;
}
#soleil20, #lune32
{
	position: absolute;
	top:232px; 
	left:-33px;
}
#soleil21, #lune33
{
	position: absolute;
	top:173px; 
	left:53px;
}
#soleil22, #lune10
{
	position: absolute;
	top:126px; 
	left:137px;
}
#soleil23, #lune11
{
	position: absolute;
	top:112px; 
	left:234px;
}
#soleil24, #lune12
{
	position: absolute;
	top:111px; 
	left:343px;
}
#soleil30, #lune18
{
	position: absolute;
	top:300px;
	right: -40px;
}
#soleil29, #lune17
{
	position: absolute;
	top:226px; 
	right:32px;
}
#soleil28, #lune16
{
	position: absolute;
	top:168px; 
	right:115px;
}
#soleil27, #lune15
{
	position: absolute;
	top:130px; 
	right:207px;
}
#soleil26, #lune14
{
	position: absolute;
	top:112px; 
	right:317px;
}
#soleil25, #lune13
{
	position: absolute;
	top:110px; 
	right:428px;
}
.mes_annonces
{
	width:72%;
	padding-left: 2%;
	padding-top: 1%;
	margin-left: -16%;
	position: relative;
	left:219px;
	top:40px;
	display:inline-block;
}
.aides
{
	background-color: white;
}
.mdp_oublie
{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(255, 255, 255 , 0.6);
	margin-bottom: 1%;
}
/*****SIMON*****/
.page 
{
	background: url("../images/images_site/herbe.JPEG") fixed no-repeat center;
	background-size: cover;
}
